* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(./background.png) no-repeat center center/cover;
}

.content {
    color: white;  
    border-radius: 10px;
    border: 1px solid white;
    background: transparent;
    backdrop-filter: blur(20px);
    height: 450px;
    width: 350px;
    padding: 0px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.content h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content #input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    
}

#input-box input {
    width: 90%;
    background: transparent;
    height: 100%;
    outline: none;
    border: none;
    border: 1px solid white;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

#input-box input::placeholder {
    color: white;
  
}

#input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember {
    display: flex;
    justify-content: space-between;
}

.remember a {
   color: white;
   text-decoration: none;
}

.remember a:hover {
    text-decoration: underline;
 }

 #button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
 }

 .btn {
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: 1px solid white;
    cursor: pointer;
 }

 .link-end {
    margin-top: 20px;
    display: flex;
    justify-content: center;
 }

 .link-end a {
    font-weight: 600;
    text-decoration: none;
    color: white;
    padding-left: 3px;
 }

 .link-end a:hover {
    text-decoration: underline;   
 }